/* Immediate children of .App element */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    z-index: 2000;
}
header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    opacity: 0;
    animation: introAni 1.5s ease-in-out forwards;
}

footer {
    background: linear-gradient(to right, var(--color-blue), var(--color-blue-shade));
    width: 100%;
    min-height: 30vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
footer > p {
    background: linear-gradient(to right, #f5f5f5, #d1eaf2);
    background-clip: text;
    color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}

section {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
.App section:nth-child(2) {
    position: relative;
    z-index: 2;
    min-height: 80vh;
    height: auto; 
}
.App section:nth-child(3) {
    background: linear-gradient(to right, var(--color-black), var(--color-black-shade));
    position: relative;
    z-index: 800;
    min-height: 80vh; /* Minimum height of 80% of the viewport height */
    height: auto; /* Allow it to grow to the full height of its content */
    padding: 20px 0;
}
.App section:nth-child(4) {
    background: radial-gradient(circle, var(--color-white) 0%, #cacaca 100%);
    min-height: 60vh; /* Minimum height of 80% of the viewport height */
    height: auto; /* Allow it to grow to the full height of its content */
}
.App section:nth-child(5) {
    background: linear-gradient(to right, var(--color-blue), var(--color-blue-shade));
    width: 100%;
    min-height: 80vh; /* Minimum height of 80% of the viewport height */
    height: auto; /* Allow it to grow to the full height of its content */
}
.App section:nth-child(6) {
    width: 100%;
    min-height: 80vh; /* Minimum height of 80% of the viewport height */
    height: auto; /* Allow it to grow to the full height of its content */
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    min-height: 80vh;
    height: auto;
    overflow: hidden;
}

.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}