.scroll-button-widget {
    position: fixed;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .5),
    -2px -2px 6px rgba(0, 0, 0, .5);
}
.scroll-button-widget svg {
    color: black;
}